/* 
    Created on : Aug 17, 2014, 4:53:05 PM
    Author     : M. Taylor
*/

/* Required field START */

@import url(http://fonts.googleapis.com/css?family=Oswald);
@import url(http://fonts.googleapis.com/css?family=Roboto:400,300);
@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css);


/* Button  START */

body{
    font-family: 'Oswald', sans-serif;
}

.btn{
    margin: 4px;
    box-shadow: 1px 1px 5px #888888;
}

.btn-xs{
    font-weight: 300;
}

.btn-hot {
    color: #fff;
    background-color: #db5566;
    border-bottom:2px solid #af4451;
}

.btn-hot:hover, .btn-sky.active:focus, .btn-hot:focus, .open>.dropdown-toggle.btn-hot {
    color: #fff;
    background-color: #df6a78;
    border-bottom:2px solid #b25560;
    outline: none;}


.btn-hot:active, .btn-hot.active {
    color: #fff;
    background-color: #c04b59;
    border-top:2px solid #9a3c47;
    margin-top: 2px;
}

.btn-sunny {
    color: #fff;
    background-color: #f4ad49;
    border-bottom:2px solid #c38a3a;
}

.btn-sunny:hover, .btn-sky.active:focus, .btn-sunny:focus, .open>.dropdown-toggle.btn-sunny {
    color: #fff;
    background-color: #f5b75f;
    border-bottom:2px solid #c4924c;
    outline: none;
}


.btn-sunny:active, .btn-sunny.active {
    color: #fff;
    background-color: #d69840;
    border-top:2px solid #ab7a33;
    margin-top: 2px;
}

.btn-fresh {
    color: #fff;
    background-color: #51bf87;
    border-bottom:2px solid #41996c;
}

.btn-fresh:hover, .btn-sky.active:focus, .btn-fresh:focus, .open>.dropdown-toggle.btn-fresh {
    color: #fff;
    background-color: #66c796;
    border-bottom:2px solid #529f78;
    outline: none;
}


.btn-fresh:active, .btn-fresh.active {
    color: #fff;
    background-color: #47a877;
    border-top:2px solid #39865f;
    outline: none;
    outline-offset: none;
    margin-top: 2px;
}

.btn-sky {
    color: #fff;
    background-color: #0bacd3;
    border-bottom:2px solid #098aa9;
}

.btn-sky:hover,.btn-sky.active:focus, .btn-sky:focus, .open>.dropdown-toggle.btn-sky {
    color: #fff;
    background-color: #29b6d8;
    border-bottom:2px solid #2192ad;
    outline: none;
}

.btn-sky:active, .btn-sky.active {
    color: #fff;
    background-color: #0a97b9;
    border-top:2px solid #087994;
    outline-offset: none;
    margin-top: 2px;
}

.btn:focus,
.btn:active:focus,
.btn.active:focus {
    outline: none;
    outline-offset: 0px;
}

/* Button  END */

body{background: #eee url(http://subtlepatterns.com/patterns/sativa.png);}
html,body{
    position: relative;
    height: 100%;
}

.form-box input{
    width: 100%;
    padding: 10px;
    text-align: center;
    height:40px;
    border: 1px solid #ccc;;
    background: #fafafa;
    transition:0.2s ease-in-out;

}

.form-box input:focus{
    outline: 0;
    background: #eee;
}

.form-box input[type="text"]{
    border-radius: 5px 5px 0 0;
    text-transform: lowercase;
}

.form-box input[type="password"]{
    border-radius: 0 0 5px 5px;
    border-top: 0;
}

.form-box button.login{
    margin-top:15px;
    padding: 10px 20px;
}

.animated {
    -webkit-animation-duration: 1s;
    animation-duration: 1s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        transform: translateY(0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        -webkit-transform: translateY(20px);
        -ms-transform: translateY(20px);
        transform: translateY(20px);
    }

    100% {
        opacity: 1;
        -webkit-transform: translateY(0);
        -ms-transform: translateY(0);
        transform: translateY(0);
    }
}

.fadeInUp {
    -webkit-animation-name: fadeInUp;
    animation-name: fadeInUp;
}

td.edit {
    background: url('../img/edit.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.edit{
    background: url('../img/edit.png') no-repeat center center;
}
td.delete {
    background: url('../img/delete.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.delete{
    background: url('../img/delete.png') no-repeat center center;
}
td.files {
    background: url('../img/files.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.edit{
    background: url('../img/files.png') no-repeat center center;
}
td.photo {
    background: url('../img/foto.png') no-repeat center center;
    cursor: pointer;
}
tr.shown td.photo{
    background: url('../img/foto.png') no-repeat center center;
}


.row{
    margin-top:40px;
    padding: 0 10px;
}
.clickable{
    cursor: pointer;   
}

.panel-heading div {
    margin-top: -18px;
    font-size: 15px;
}
.panel-heading div span{
    margin-left:5px;
}
.panel-body{
    display: none;
}

.bs-header {
    color: #FFF;
    text-align: center;
    background-color: #5fb0e4;
    background-image: url('../img/triangles.jpg');
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
}

.bs-footer {
    color: #FFF;
    text-align: center;
    background-color: #5fb0e4;
    background-image: url('../img/gnb.jpg');
    text-shadow: 0 1px 3px rgba(0,0,0,.4), 0 0 30px rgba(0,0,0,.075);
    background-repeat: no-repeat;
    background-position: center center; 
    background-size: cover;
    height:400px;
}

.invoice-title h2, .invoice-title h3 {
    display: inline-block;
}

.table > tbody > tr > .no-line {
    border-top: none;
}

.table > thead > tr > .no-line {
    border-bottom: none;
}

.table > tbody > tr > .thick-line {
    border-top: 2px solid;
}

.foto {
    background-image: url('../img/default.png');
    background-size: 50px 50px;
    background-repeat: no-repeat;
}


.login-container{
    position: relative;
    width: 300px;
    padding: 10px 40px 10px;
    text-align: center;
    background: #fff;
    border: 1px solid #ccc;
}